*{
  box-sizing: border-box;
  margin:0;
  padding:0;
}
*:after,*::before{
  box-sizing: border-box;
}
html{

}
body{

}
img
{
  max-width:100%;
  height:auto;
}
::-webkit-scrollbar              {background:#ececec;
width:10px; }
::-webkit-scrollbar-thumb        { background:$core-pink; }


li{
  list-style: none;
}
